@model ProductVM
@{
    ViewData["Title"] = "Məhsullarımız";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link rel="stylesheet" href="~/assets/css/products.css">
}
<main>
    <section id="product-area">
        <div class="container   mt-5">
            <div class="search">
                <div class="row">
                    <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
                        <div class="search-box ">
                            <form id="search" asp-controller="Product" asp-action="Search">
                                <input type="search" class="search   placeholder" placeholder="Search..." name="search" />
                                <button class="fal fa-search text-light" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <div id="products">
            <div class="container">
                <div class="row pt-5">
                    <div class="col-lg  d-flex justify-content-evenly">
                        <ul class="category-mobile d-md-none list-unstyled">
                            <li>
                                <a href="" class="categories mr-2" style="color:white;text-decoration:none;">Categories</a>
                                <i class="fas fa-caret-down"></i>
                                <ul class="category list-unstyled" style="display: none;">
                                    <li><a class="mt-5" data-id="all" style="color:white;text-decoration:none;">Bütün məhsullar</a></li>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <li><a data-id="@item.Name.ToLower()">@Html.Raw(item.Name)</a></li>
                                    }

                                </ul>
                            </li>
                        </ul>
                        <ul class="category d-none d-md-flex list-unstyled">
                            <li><a href="" class="me-3" data-id="all" style="color:white;text-decoration:none;">Bütün məhsullar</a></li>
                            @foreach (var item in Model.Categories)
                            {
                                <li class="me-3"><a href="" style="text-decoration:none;" data-id="@item.Name.ToLower()">@Html.Raw(item.Name)</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="row" id="pro">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-3 me-5">
                            <div class="product-item content text-center" data-id="@item.Category.Name.ToLower()">
                                <div class="img">
                                   
                                        <img src="~/assets/img/@item.ProductImages.Where(m=>m.IsMain == true).FirstOrDefault().Image" style="min-height:350px;" class="img-fluid " alt="">
                                    
                                </div>
                                <div class="title  mt-3">
                                    <h6>@Html.Raw(item.Name)</h6>
                                </div>
                            </div>
                        </div>
                    }
                    @*<div class="row justify-content-center mt-5 me-5">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                            <button id="loadMore" class="btn">Daha çox ...</button>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <script src="~/assets/js/product.js"></script>
    <script src="~/assets/js/galery.js"></script>
}